body {
    background: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px normal;
    padding: 0 0;
    margin: 0 0;
    /* background-image: url("../assets/img/vector3.svg");
    background-position: 100vh;
    background-repeat: no-repeat; */
}

h1{
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-size: 25px;
    font-weight: medium;
}

.container {
    display: grid;
    width: 380px;
    margin-left: 33%;
}

.marg-5{
    margin-top: 5%;
}

.marg-2{
    margin-top: 2%;
}

.container .card {
    box-shadow: 1px 1px #e5e5e5;
    padding: 20px 20px;
    box-sizing: content-box;
    background: #ffffff;
}

.card .card-header {
    text-align: center;
}

.card .card-header ul {
    list-style: none;
    display: inline-block;
}

.card .card-header ul > li{
    float: left;
    padding: 10px;
    border: 1px solid #d3d3d3;
    background: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.card .card-header ul  li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.card .card-header ul li.active{
    background: #2EC76D;
}

.card .card-header ul li.active a {
    color: #ffffff;
}

.card .card-header h2{
    text-align: left;
    padding: 0;
    margin-left: 30px;
}

.card .card-body {
    padding: 30px 30px;
    display: block;
    margin-top: -15px;
}

.card .card-body form {
    display: grid;
}

form label {
    display: grid;
    margin-bottom: 7px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}

form label input{
    margin-bottom: 5px;
}

form label .error{
    color: red;
    font-size: 10px;
}

form .help-block{
    text-align: right;
    font-size: 10px;
    padding-bottom: 5px;
    color: black;
    text-decoration: none;
}

form .button {
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    position: relative;
    padding: 4px 4px;
    background: #2EC76D;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
} 

.button:active {
    background: #2EC76D;
}

.button__text {
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 70px;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.image-left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: content-box;
    z-index: -999;
}

.image-right {
    position: absolute;
    box-sizing: content-box;
    z-index: -999;
    height: 100vh;
    top: 0%;
    right: 0;
    bottom: 0;
}

input{
    padding: 5px 5px;
    border-radius: 5px;
    background: #E5E5E5;
}

#icon{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 1rem;
    content: url("img/component.svg");
    user-select: none;
    cursor: pointer;
  }
  input .pass {
    padding-right: 2.5rem;
}


